<h1>編集画面</h1>
<!-- form_with部分 -->
<%= form_with model:@book, local: true do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>本文</h4>
  <%= f.text_area :body %>
  <div class="submitbuttom"><%= f.submit 'Update Book' %></div>
<% end %>
<%=link_to 'show',@book%>
|
<a class="back" href="/books">Back</a>